.operations{
	
	display : none;
	z-index:1000;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	-op-border-radius:5px;
	box-shadow: 0px 0px 25px #000;
	-moz-box-shadow: 0px 0px 25px #000;
	-webkit-box-shadow: 0px 0px 25px #000;
	color : #000;
	position: absolute;
	background-color:#fff;
	border: 1px solid #A9A9AA;
	padding: 10px;
}

.operationsImg{
	cursor: pointer;
}

span.error_limit{
	margin:10px 0;
	display:block;
	color : #D24625;
}

.metalDeleteBtn{
	background-image: url('images/delete.png');
	background-repeat: no-repeat;
}

.metalDeleteBtn > span{
	margin-left:19px;
}